/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --background-color: #000028;
  --background-image: url('/images/cover-image-dark.png');
  --text-font-family: 'IBM Plex Mono', sans-serif;
  --text-main-color: #f1b2ce;
  --text-subtitle-color: #000028;
  --text-title-color: #ff0070;
  --text-first-title-color: #DB00FF;
}