/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--text-font-family);
  font-size: 18px;
  background: var(--background-image), var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  width: 100%;
  height: 100vh;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--corners-color);
  border-right: 1px solid var(--corners-color);
}

.header__rec {
  position: absolute;
  color: var(--text-title-color);
  font-weight: 400;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px 4px;
  color: var(--button-color);
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  display: flex;
  align-items: center;
  color: var(--text-first-title-color);
  font-size: var(--title-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--text-shadow-color);
}

.header__description {
  height: min-content;
  color: var(--text-subtitle-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--corners-color);
  border-left: 1px solid var(--corners-color);
}

/* sections */

.section-container {
  display: flex;
  margin-bottom: 50px;
}

.section-title {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.section-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  color: var(--text-subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.card-title-tiny {
  color: var(--text-subtitle-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.card-description {
  color: var(--text-main-color);
  font-weight: 400;
  line-height: 23.4px;
}

.card-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--link-shadow-color);
}

.card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card-link:focus-visible {
  outline: 1px solid var(--text-main-color);
  outline-offset: 0
}

/* image section */

.picture-container {
  display: flex;
  flex-direction: column;
}

.picture-container-title {
  color: var(--text-subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.picture-container-content-item {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* footer */

.footer {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 668px;
}

.footer__title {
  color: var(--text-first-title-color);
  font-size: var(--title-font-size);
  line-height: 82.5%;
  text-shadow: 3px 3px 0 var(--text-shadow-color);
}

/* display < 768 */

@media (width < 768px) {
  .header {
    margin-block-end: 40px;
    padding: 10px;
  }

  .header__rec {
    top: 10px;
    right: 19px;
  }

  .header__theme-menu {
    margin-inline-end: 5px;
    padding-bottom: 23px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .main {
    padding: 0 10px;
  }

  .section-container {
    flex-direction: column;
    row-gap: 20px;
  }

  .picture-container {
    row-gap: 10px;
    margin-bottom: 40px;
  }

  .picture-container-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .footer {
    padding: 10px;
   }
}

/* 768px <= display <= 1024px */

@media (768px <= width < 1024px) {
  .header {
    margin-block-end: 60px;
    padding: 20px;
  }

  .header__rec {
    top: 19px;
    right: 28px;
  }

  .header__theme-menu {
    padding-bottom: 10px;
  }

  .header__description {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    padding: 0 20px;
  }

  .section-container {
    margin-bottom: 80px;
  }

  .section-container:nth-child(1), .section-container:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }

  .section-container:nth-child(2) {
    flex-direction: column;
    row-gap: 20px;
  }

  .picture-container {
    row-gap: 20px;
    margin-bottom: 60px;
  }

  .section-title {
    display: block;
    max-width: calc((100vw - 60px) / 3 * 1);
  }

  .picture-container-content {
    display: grid;
    grid-template-areas: "sunset sunset ice-cream" "tape books ice-cream" "tape street street ";
    gap: 20px;
  }

  .picture-container-content-item:nth-child(1) {
    grid-area: sunset;
  }

  .picture-container-content-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .picture-container-content-item:nth-child(3) {
    grid-area: tape;
  }

  .picture-container-content-item:nth-child(4) {
    grid-area: books;
  }

  .picture-container-content-item:nth-child(5) {
    grid-area: street;
  }

  .footer {
    padding: 20px;
   }
}

/* display > 1024px */

@media (width >= 1024px) {
  .header {
    margin-block-end: 60px;
    padding: 20px;
  }

  .header__rec {
    top: 23px;
    right: 28px;
  }

  .header__theme-menu {
    justify-content: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__description {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    padding: 0 20px;
  }

  .section-container {
    margin-bottom: 80px;
  }

  .section-container:nth-child(1), .section-container:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }

  .section-container:nth-child(2) {
    flex-direction: column;
    row-gap: 20px;
  }

  .section-container:nth-child(2) > .section-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .section-title {
    display: block;
    max-width: calc((100vw - 60px) / 3 * 1);
  }

  .picture-container {
    row-gap: 20px;
    margin-bottom: 60px;
  }

  .picture-container-content {
    display: grid;
    grid-template-areas: "sunset sunset ice-cream" "tape books ice-cream" "tape street street ";
    gap: 20px;
  }
  
  .picture-container-content-item:nth-child(1) {
    grid-area: sunset;
  }

  .picture-container-content-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .picture-container-content-item:nth-child(3) {
    grid-area: tape;
  }

  .picture-container-content-item:nth-child(4) {
    grid-area: books;
  }

  .picture-container-content-item:nth-child(5) {
    grid-area: street;
  }

  .footer {
    padding: 20px;
   }
}